[alias]
	# View abbreviated log (format based on --oneline)
	l = log --color=always --graph  --date=short --pretty=tformat:'%C(yellow)%h %Creset%s %C(blue)%an %C(green)%cd %C(yellow)%(trailers:separator=)'
[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Troy McKinnon
	email = troy.t.mckinnon@gmail.com
[pull]
	ff = only
[http]
	# Ignore untrusted self signed cert we have on our on-prem server
	sslVerify = false
